# mongod.conf

# for documentation of all options, see
#  http:/docs.mongod.org/manual/reference/configuration-options/

## where and how to store data
storage:
  dbPath: "{{ db_path }}"
  journal:
    enabled: true
  engine: "{{ engine }}"
  wiredTiger:
    collectionConfig:
      blockCompressor: zlib

## how the process runs
processManagement:
  fork: true # for and run in background
  pidFilePath: /var/run/mongodb/mongod.pid # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

## where to write logging data
systemLog:
  destination: file
  logAppend: true
  path: "{{ log_path }}"  

## network interfaces
net:
  port: "{{ port }}"
  bindIp: 0.0.0.0

security:
  authorization: 'enabled'
  keyFile: "{{ key_file }}"

##operationProfiling:
replication:
  oplogSizeMB: 2048
  replSetName: "{{ replSetName }}"
  secondaryIndexPrefetch: all 
  enableMajorityReadConcern: false
#
##sharding
#
### Enterprise-Only Options:
#
##auditlog
#
##snmp
